.box{
    position: relative;
    margin: 150px ;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    position: relative;
}
body{
    background-color: rgb(238, 238, 238);
}
button{
    height: 45px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 136, 255);
    color: white;
    
}
.box1{
    position: relative;
    margin: 150px ;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    position: relative;
    height: 500px;
    width: 300;
    box-shadow: 1px 1px 10000000000000000000000000000000000000000000000px grey;
}
.orange{
    background-color: orange;
    width: 100px;
    color: black;
}
.green{
    color: green;
}