.box{
    height: 50px;
    width: 50px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 10px;
}
.red{
    transition: all 1s steps(5, end);
}
.blue{
    transition: all 1s ease-in;
}
.yellow{
    transition: all 1s ease-in-out;
}
.green{
    transition: all 1s linear;
}
.box:hover{
    background-color: blue;;
}
.red:hover{
    transform: translateY(0px) rotate(100px);
}
.blue:hover{
    transform: translate(780px, -67px);
}
.yellow:hover{
    transform: translateY(1110px);
}
.green:hover{
    transform: translate(780px , 1050px)
}
