body{
    background-color: rgb(233, 233, 233);
}
.box1{
    display: flex;
    margin: 10px ;
    width: 400px;
    height: 150px;
    flex-wrap: wrap;
    background-color: rgb(255, 81, 0);
    text-align: center;
    align-items: center;
}
.box2{
    display: flex;
    margin: 10px ;
    width: 400px;
    height: 150px;
    flex-wrap: wrap;
    background-color: rgb(36, 156, 0);
    text-align: center;
    align-items: center;
}
.box3{
    display: flex;
    margin: 10px ;
    width: 400px;
    height: 150px;
    flex-wrap: wrap;
    background-color: rgb(0, 26, 255);
    text-align: center;
    align-items: center;
}
.box{
    display: flex;
    margin: 10px ;
    width: 400px;
    height: 150px;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    align-items: center;
}
.container{
    position: relative;
    height: ;
    border: 2px solid black;
    width: 10000px;
}




