*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin-inline: 20px;
    justify-content: space-between;
}

body{
  background-color: bisque;
}
.container{
    display: flex;
  
    gap: 10px;
}
.box{
    width: 200px;
    
    height: 500px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    
}
img{
    height: 200px;
    width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.w{
    height: 180px;
}
.e{
    height: 170px;
}
.r{
    height: 250px;
}