
body{
    background-color: rgb(36, 36, 36);
    font-family: monospace;
}


.container{
    width: 20vw;
    height: 20vh;
    margin: auto;
    border-radius: 10px;
    
}
.box{
    width: 180px;
    height: 180px;
    background-color: white;
    text-align: center;
    padding: 20%;
    border-radius: 7px;
}
h3,p{
    margin-top: 10px;
}
.ava{
    
    width: 50px;
    height: 50px;
    border-radius: 100%;

    margin: 0px auto;
    background-image: url(0a5ad49015d05ed55cbd6173fbeeb035.jpg) ;
    background-size: cover;
}