.box{
    width: 100px;
    height: 100px;
    background: linear-gradient(145deg, purple, purple, yellow, purple, purple);
    transition: all 1s ease-in;
    text-align: center;
    color: white;
}
.box:hover{
    transform: rotate(360deg) ;
    border-radius: 100%;
}
.box1{
width: 100px;
    height: 100px;
    background-color: red;
    transition: all 1s ease-in;
    text-align: center;
    color: white;
}
.box2{
width: 100px;
    height: 100px;
    background: linear-gradient(145deg, purple, rgb(255, 93, 120), red, yellow);
    transition: all 1s ease-in;
    text-align: center;
    color: white;
    transform-origin: 100px;
}
.box3{
width: 100px;
    height: 100px;
    background-color: rgb(0, 191, 255);
    transition: all 1s ease-in;
    text-align: center;
    color: white;
}
.box1:hover{
    transform: translate(0px, 975px) rotate(360deg) ;
    border-radius: 100%;
}
.box2:hover{
    transform: translate(660px, -205px) rotate(360deg) ;
    border-radius: 100%;
}
.box3:hover{
    transform: translate(660px, 775px) rotate(360deg) ;
    border-radius: 100%;
}