h1{
    color: rgb(0, 153, 255);
    text-align: center;
    font-size: 50px;
}
input{
    font-size: 40px;
}
input::placeholder{
    color: rgb(223, 223, 223);
    font-size: 30px;
}
button{
    text-align: center;
    background-color: rgb(0, 179, 255);
    font-size: 40px;
    color: white;
    border: none;
    width: 500px;
}
.box{
    border-radius: 10px;
    background-color: white;
    padding: 100px;
}

body{
    background-color: rgb(0, 170, 255);
    padding: 100px;
    width: 1000px;
}
h4{
    color: rgb(0, 153, 255);
}