*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
}
.nav-left{
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    span{
        color: brown;
    }
}
nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color: rgb(165, 77, 42);
    font-weight: 300;
    font-size: 18px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin: 10px auto;
    width: 80%;
    background-color: rgba(250, 76, 28, 0.296);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    span{
        color: black;
    }
}
